.main {
    background-color:#00AAAA;
    font-family:sans-serif;
    color:white;
    font-size:25px;
}
.main_txt {
    text-align: center;
    font-size:22px;
}
h1 {
    text-align: center;
    font-size:22px;
    color:#00AAAA;
}